.appointment > .container {
  flex-direction: column;
  align-items: center;

  h3 {
    font-size: 5rem;
    color: #00000080;
  }
  button {
    width: 10rem;
  }
}

.inputs {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1.5rem;
  width: 100%;
}

.inputs > * {
  grid-column: span 3;
}

.inputs select[name="gender"] {
  grid-column: span 2;
}

.inputs input[type="date"][placeholder="Appointment Date"] {
  grid-column: span 2;
}

.inputs input[type="time"] {
  grid-column: span 2;
}

.inputs input[placeholder="Address"] {
  grid-column: 1 / -1;
  height: 8rem;
}

.inputs input,
.inputs select {
  width: 100%;
  padding: 1rem 1.5rem;
  border: 5px solid #ccc;
  border-radius: 5px;
  font-size: 1.6rem;
  color: #333;
  background-color: white;
  box-sizing: border-box;
}

.inputs select {
  appearance: none;
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 1em;
}

.inputs input[type="date"] {
  appearance: none;
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1.2em;
}

.inputs input:focus,
.inputs select:focus {
  outline: none;
  border-color: #6b7280;
}

::placeholder {
  color: #9ca3af;
}
